body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2ceda52;
}

.container {
  width: 1185px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

/*header*/

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  list-style-type: none;
}

.navbar-link {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 16px;
  color: #150101;
  opacity: 0.6;
}

.red {
  font-size: 15px;
  line-height: 18px;
  color: #d23166;
}

.header-link {
  display: block;
  text-decoration: none;
  padding: 13px 50px;
  background-color: #d23166;
  color: #fff;
  border-radius: 5px;
}

.header-link:hover {
  opacity: 0.8;
}

.header-link:active {
  opacity: 0.6;
}

/*hero*/

.hero {
  background-image: url("./img/Ellipse\ 18.png");
  background-repeat: no-repeat;
  background-size: 330px;
  background-position: right 175px bottom 50px;
  padding-bottom: 100px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-small {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #0f0101;
  margin-bottom: 6px;
}

.hero-title {
  font-size: 57.33px;
  line-height: 120.5%;
  color: #0f0101;
  opacity: 0.9;
  margin: 0;
}

.hero-text {
  font-size: 18px;
  line-height: 27px;
  color: #0f0101;
  opacity: 0.6;
  margin-bottom: 50px;
}

.hero-link {
  text-decoration: none;
  padding: 13px 50px;
  background-color: #d23166;
  color: #fff;
  border-radius: 5px;
}

.hero-link:hover {
  opacity: 0.8;
}

.hero-link:active {
  opacity: 0.6;
}

.hero-img {
  position: relative;
  right: -50px;
}

/*card*/
.card {
  background-color: #fff;
  padding: 100px 0;
}

.card-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-item {
  width: 250px;
  background: #ffffff;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  padding: 25px 5px;
}

.card-img {
  display: block;
  margin: 0 auto;
}

.card-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-top: 22px;
  margin-bottom: 10px;
  color: #000000;
}

.title {
  margin-top: 15px;
}

.card-text {
  font-size: 14px;
  line-height: 19px;
  width: 190px;
  margin: 0 auto;
  text-align: center;
  color: #000000;
  opacity: 0.6;
}

/*menu*/

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-title {
  width: 340px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 49px;
  color: #150101;
}

.menu-text {
  width: 445px;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 24px;
  color: #150101;
  opacity: 0.6;
}

.menu-link {
  text-decoration: none;
}

.menu-link {
  text-decoration: none;
  padding: 15px 42px;
  background-color: #d23166;
  color: #fff;
  border-radius: 5px;
}

.menu-link:hover {
  opacity: 0.8;
}

.menu-link:active {
  opacity: 0.6;
}

/*product section*/

.product {
  padding: 135px 0;
  background-color: #fff;
}

.product-title {
  text-align: center;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 61px;
  color: #150101;
}

.product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.product-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}

/*=============*/

.product-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-flow {
  flex-flow: row-reverse;
}

.product-card-title {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 10px;
  color: #000000;
}

.product-card-text {
  width: 455px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px;
  color: #000000;
  opacity: 0.7;
}

.new-price {
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
}

.old-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-decoration-line: line-through;
  color: #000000;
  opacity: 0.7;
}

.product-card-link {
  display: block;
  max-width: 100px;
  margin-top: 10px;
  text-decoration: none;
  padding: 15px 42px;
  background-color: #d23166;
  color: #fff;
  border-radius: 5px;
}

.product-card-link:hover {
  opacity: 0.8;
}

.product-card-link:active {
  opacity: 0.6;
}

/*service section*/

.service-container {
  display: flex;
  align-items: center;
}

.service-img {
  margin-right: 135px;
}

.service-title {
  font-weight: 500;
  font-size: 44.2px;
  line-height: 52px;
  margin-bottom: 20px;
  color: #000000;
}

.service-text {
  width: 600px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  margin-bottom: 30px;
  color: #0f0101;
  opacity: 0.7;
}

.ser-box {
  display: flex;
  align-items: center;
}

.ser-link {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  margin-right: 10px;
}

.ser-img {
  margin-top: 7px;
}

.ser-box-text {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

/*contac section */

.contact {
  padding-top: 150px;
  padding-bottom: 60px;
  background-color: #fff;
}

.contact-title {
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}

.input-box {
  text-align: center;
  margin-bottom: 35px;
}

.input-number {
  background: #ffffff;
  border: 1px solid #ffa3a3;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 25px 20px;
  width: 300px;
  margin-right: 15px;
}

.select {
  background: #ffffff;
  border: 1px solid #ffa3a3;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 25px 20px;
  width: 300px;
  margin-left: 15px;
}

.input-text {
  width: 500px;
  background: #ffffff;
  border: 1px solid #ffa3a3;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 25px 20px;
}

.input-btn {
  text-decoration: none;
  color: #fff;
  width: 140px;
  padding: 25px 20px;
  background: #d64374;
  border-radius: 5px;
}

/*footer section*/

.footer {
  background-color: #252525;
  padding: 45px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}
.footer-col {
  width: 22%;
  padding: 0 15px;
}
.footer-col h4 {
  position: relative;
  font-family: Philosopher;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 26px;
  color: #ffffff;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 20px;
}

.footer__link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.footer__link:hover {
  opacity: 1;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}
